 html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Raleway', sans-serif;
                font-weight: 100;
                height: 100vh;
                margin: 0;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }
table .icon{
    padding: 10px;
    font-size: 20px
    
}
table .center{
    text-align: center;
}

.new{
    padding: 10px;
    font-size: 18px;
    background-color: #32B93C;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    text-decoration: none;
}

.display{
    display: inline-flex;
    flex-wrap: wrap;
}

.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movies{
    align-items: center;
    display: flex;
    justify-content: center;
}
.movies .card{
    width: 23%;
}

.movies i{
    font-size: 60px;
    display: flex;
    align-content: center;
    justify-content: justify-all;
    text-align-last: center;
}

.card{
    padding: 20px;
    border-style: solid 1px;
    border-color: gray;
}
.movies span{
    background-color: #1B6EC2;
    margin-bottom: 10px;
}